.dropdown {
    position: absolute;
    top: 100%; /* Position it right below the SearchInput */
    left: 0; /* Align it to the left edge of the parent container */
    right: 0; /* Align it to the right edge of the parent container */
    z-index: 1; /* Make it appear in front of the other components */
}

/* Mobile devices (default) */
.container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 15px;
}
  
/* Tablets, small desktops */
@media (min-width: 600px) {
    .container {
        flex-direction: row;
        padding-right: 30px;
        align-items: end;
    }
}

/* Medium desktops */
@media (min-width: 900px) {
    .container {
        flex-direction: row;
        padding-right: 60px;
        align-items: end;
    }
}

/* Large desktops and high-resolution devices */
@media (min-width: 1200px) {
    .container {
        flex-direction: row;
        padding-right: 80px;
        align-items: end;

    }
}
