.toggle {
    float: right;
    border-radius: 8px;
}
.toggle:hover {
    background-color: #889397;
    /* background-color: red; */
    cursor: pointer;
}

.chunk {
    padding-top:10px;
}

.chunk > div{
    padding-top:5px;
    padding-left:15px
}

a.link svg {
    width:18px;
    height:18px;
}