.sidebar {
    width: 200px;
    height: 100vh;
    border-left: 1px solid black;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .sidebar li a {
    text-decoration:none;
  }